<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>PMusic</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <img src="images/logo3.png" alt="Instrumenti Logo" class="logo-img">
        </div>
        <div class="current-category">
            <h1><%= selectedCategory ? selectedCategory.name : 'KATEGORIJA' %></h1>
            <h2>odabrano</h2>
        </div>
        <div class="header-controls">
            <button class="icon-btn search-btn" title="Search"></button>
            <div class="cart-btn-wrapper">
                <a href="/cart" class="cart-link" title="Cart">
                  <button class="icon-btn cart-btn"></button>
                  <div id="cart-counter" class="cart-counter <%= cartItemCount === 0 ? 'hidden' : '' %>">
                    <%= cartItemCount %>
                  </div>
                </a>
            </div>
        </div>
    </div>
</header>

<script src="/scripts/header.js"></script>


<main>